$white: #fff;
$black: #111;
$darkGray: #222;
$primary: #00d4d1;
$wrap: rgba(0, 0, 0, 0.8);
$gray: #ccc;

:root {
  --bg: #{$white};
  --text: #{$black};
}

:root.dark {
  --bg: #{$black};
  --text: #{$white};
}
